<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/jquery-1.11.3.js"></script>
        <link rel="stylesheet" href="js/bootstrap.min.css">
        <link rel="stylesheet" href="js/bootstrap-theme.min.css">
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/angular-dragdrop.js"></script>
        <script>
            var App = angular.module('myApp', ['ngDragDrop']);
            App.controller('OverviewCtrl', function ($scope) {
                $scope.list2 = [
                    {'title': 'Item 1'},
                    {'title': 'Item 2'},
                    {'title': 'Item 7'},
                    {'title': 'Item 8'}
                ];
                $scope.list1 = [
                    {'title': 'Item 1'},
                    {'title': 'Item 2'},
                    {'title': 'Item 3'},
                    {'title': 'Item 4'},
                    {'title': 'Item 5'},
                    {'title': 'Item 6'},
                    {'title': 'Item 7'},
                    {'title': 'Item 8'}
                ];
                $scope.toggle = function(item){
                   // alert(test)
                    $scope.list2.push(item);
                }
                

            });

        </script>
    </head>
    <body>
        <div class="row" ng-controller="OverviewCtrl">
            <div class="col-md-5" > 
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>List 1</h4></div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in list1" ng-click="toggle(item)" >{{item.title}}</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-2" style="text-align: center"> 
                <button type="button" class="btn btn-success"  style="margin-top: 70px; margin-bottom: 10px">
                    <span class="glyphicon glyphicon-triangle-right btn-sm" aria-hidden="true"></span>
                </button>
                </br>
                <button type="button" class="btn btn-success"  style="margin-top: 10px; margin-bottom: 10px">
                    <span class="glyphicon glyphicon-triangle-left btn-sm" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>List 2</h4></div>
                    <div class="panel-body">
                        <ul class="list-group">
                           <li class="list-group-item" ng-repeat="item in list2" >{{item.title}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
